
            /* Desktop PC */


@media screen and (max-width: 1720px) {

    .container {
        max-width: 1700px;
        padding: 0 15px;
    }

    .invest-image {
        display: none;
    }
    
    .right-arrow {
        right: 1%;
    }

    .left-arrow {
        left: 1%;
    }

    .arrow-block2:before {
        display: none;
    }

    .arrow-block2:hover:before {
        display: none;
    }

    .arrow-block1:before {
        display: none;
    }

    .arrow-block1:hover:before {
        display: none;
    }

    .woman {
        left: 566px;
    }

    .main-answer {
        width: 100%;
    }

    .main-question {
        width: 100%;
    }

    .slider-container {
        width: 1497px;
        padding: 0 51px;
    }

    .slick-slide {
        width: 420px;
        margin-right: 120px;
    }

    .video-wrap {
        width: 420px;
    }

}

@media screen and (max-width: 1600px) {
    .container {
        max-width: 1600px;
        padding: 0 40px;
    }

    .background {
        max-width: 1400px;
        margin: 0 auto;
    }

    .dollar7 {
        left: 1220px;
    }

    .finger8 {
        left: 1240px;
    }

    .cup9 {
        left: 1200px;
    }

    .events {
        width: 1329px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .point-blue {
        width: 500px;
    }

    .finances {
        width: 400px;
    }

    .point-purple {
        margin-left: 35px;
    }

    .point-yellow {
        margin-left: 35px;
    }

    .invest-image {
        display: none;
    }

    .second-yellow {
        margin-right: 35px;
        margin-left: 0;
    }

    .coin {
        left: 22%;
        top: 50%;
    }

    .coin2 {
        left: 70%;
        top: 50%;
    }

    .image-block {
        margin-right: 2%;
    }

    .speakers-list-container {
        width: auto;
    }

    .first-speaker {
        width: 400px;
    }

    .second-speaker {
        width: 400px;
    }

    .third-speaker {
        width: 400px;
    }

    .description {
        width: 400px;
    }

    .diamond {
        left: 20%;
        top: 15%;
    }

    .diamond2 {
        left: 75%;
        top: 15%;
    }

    .reviews-offer {
        width: auto;
    }

    .slider-container {
        width: auto;
        padding: 0 35px;
    }

    .slick-slide {
        width: 400px;
        margin-right: 120px;
    }

    .right-arrow {
        right: 10px;
    }

    .arrow-block1:before {
        display: none;
    }

    .arrow-block2:before {
        display: none;
    }

    .left-arrow {
        left: 15px;
    }

    .video-wrap {
        width: 400px;
        height: 290px;
    }

    .registration-title {
        width: 700px;
    }

    .cup11 {
        top: 180px;
    }

    .gratitude {
        margin-left: 390px;
    }

    .title {
        font-size: 44px;
    }

    .cartoon-man {
        width: 412px;
        left: -50px;
    }

    .dollar17 {
        left: 70%;
    }

    .registration-offer {
        padding: 0 35px;
    }

    .safe-answer {
        top: 216px;
    }

    .woman {
        left: 460px;
    }

    .first-block-answer {
        width: 400px;
    }

    .text-module-answer {
        padding-left: 35px;
    }

    .main-answer {
        width: 360px;
    }

    .main-question {
        width: 360px;
        font-size: 20px;
    }

    .second-block-answer {
        width: 400px;
    }

    .third-block-answer {
        width: 400px;
    }

    .footer-item {
        margin-right: 25px;
    }

    .left-arrow {
        width: 12px;
        height: 12px;
    }

    .right-arrow {
        width: 12px;
        height: 12px;
    }

    .footer-wrapper {
        padding: 64px;
    }
} 

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1400px;
    }

    .dollar7 {
        left: 1100px;
    }

    .finger8 {
        left: 1200px;
    }

    .cup9 {
        left: 1200px;
    }

    .cup19 {
        left: 220px;
    }

    .events {
        width: 1294px;
    }

    .point-purple {
        margin-left: 25px;
    }

    .point-yellow {
        margin-left: 25px;
    }

    .second-yellow {
        margin-right: 25px;
        margin-left: 0;
    }

    .first-speaker {
        width: 380px;
    }

    .description {
        width: 360px;
    }

    .second-speaker {
        width: 380px;
    }

    .third-speaker {
        width: 380px;
    }

    .woman {
        left: 445px;
    }

    .footer-button-up {
        left: 44.5%;
    }
} 

@media screen and (max-width: 1367px) {
    .container {
        max-width: 1366px;
    }

    .background {
        max-width: 1000px;
    }

    .cup9 {
        left: 89%;
    }

    .finger8 {
        left: 85%;
    }

    .dollar7 {
        left: 75%;
    }

    .cup6 {
        left: 60%;
    }

    .events {
        max-width: 1230px;
    }

    .point-blue {
        width: 480px;
    }

    .point-purple {
        width: 360px;
    }

    .point-yellow {
        width: 440px;
    }

    .investments {
        width: 350px;
    }

    .experience {
        width: 270px;
    }

    .finances {
        width: 360px;
    }

    .slider-container {
        padding: 0 81px;
    }

    .slick-slide {
        width: 300px;
        margin-right: 120px;
    }

    .video-wrap {
        width: 300px;
        height: 217px;
    }

    .registration-title {
        margin-left: 350px;
    }

    .cup21 {
        left: 70%;
    }

    .woman {
        left: 423px;
        width: 410px;
    }

    .footer-wrapper {
        padding: 64px 64px;
    }
} 

@media screen and (max-width: 1300px) {
    .container {
        max-width: 1300px;
    }

    .events {
        max-width: 1158px;
    }

    .point-blue {
        width: 440px;
    }

    .point-purple {
        width: 310px;
    }

    .point-yellow {
        width: 400px;
    }

    .first-speaker {
        width: 340px;
    }

    .second-speaker {
        width: 340px;
    }

    .third-speaker {
        width: 340px;
    }

    .description {
        width: 340px;
    }

    .background {
        max-width: 1280px;
    }

    .slick-slide {
        margin-right: 80px;
    }
} 

@media screen and (max-width: 1224px) {
    .container {
        max-width: 1224px;
    }

    .dollar3 {
        left: 37%;
    }

    .dollar5 {
        left: 81%;
    }

    .cup6 {
        left: 52%;
    }

    .dollar7 {
        left: 70%;
    }

    .cup9 {
        left: 81%;
    }

    .man {
        width: 380px;
    }

    .title {
        line-height: 60px;
    }

    .paragraph {
        line-height: 27px;
    }

    .bg-image1 {
        left: -20%;
    }

    .bg-image3 {
        left: 96%;
    }

    .about-title {
        width: 500px;
    }

    .events {
        max-width: 983px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pixel::before {
        left: 50%;
    }

    .point-blue {
        width: 360px;
    }

    .point-purple {
        width: 260px;
    }

    .point-yellow {
        width: 340px;
    }

    .text-module {
        padding: 24px 28px;
    }

    .e-title {
        font-size: 22px;
    }

    .finances {
        width: 300px;
    }

    .experience {
        width: 210px;
    }

    .investments {
        width: 260px;
    }

    .speakers-title{
        width: 425px;
    }

    .pixel2::before {
        left: 50%;
    }

    .coin {
        left: 20%;
    }

    .diamond {
        left: 15%;
    }

    .first-speaker {
        width: 260px;
    }

    .second-speaker {
        width: 260px;
    }

    .third-speaker {
        width: 260px;
    }

    .description {
        width: 250px;
    }

    .cup16 {
        left: 80%;
    }

    .dollar15 {
        left: 77%;
    }

    .cup-details {
        right: 250px;
    }

    .mini-coin1 {
        left: 200px;
    }

    .mini-coin2 {
        left: 155px;
        top: -80px;
    }

    .mini-coin3 {
        left: 100px;
        top: -150px;
    }

    .mini-dollar6 {
        left: 330px;
        top: -140px;
    }

    .mini-dollar5 {
        left: 310px;
        top: -80px;
    }

    .mini-dollar4 {
        left: 300px;
        top: -30px;
    }
    
    .mini-coin4 {
        left: 347px;
        top: 50px;
    }

    .mini-coin5 {
        left: 360px;
        top: 5px;
    }

    .mini-coin6 {
        left: 385px;
        top: -55px;
    }

    .up {
        left: 330px;
    }

    .cup11 {
        top: 180px;
    }

    .gratitude {
        width: 450px;
        margin-left: 100px;
    }

    .registration-title {
        width: 640px;
        margin-left: 350px;
    }

    .contacts {
        width: 400px;
        top: 10%;
        left: 40px;
    }

    .answer-title {
        width: 430px;
    }

    .woman {
        left: 404px;
        width: 275px;
        top: 175px;
    }

    .main-answer {
        width: 280px;
        font-size: 16px;
    }

    .main-question {
        width: 300px;
        font-size: 18px;
    }

    .footer-button-up {
        top: -45px;
    }
} 

@media screen and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .man {
        width: 360px;
    }

    .point-blue {
        width: 340px;
    }

    .registration-title {
        width: 630px;
    }

    .main-question {
        width: 280px;
    }

    .main-answer {
        width: 260px;
    }

    .arrow-block1:hover:before {
        display: none;
    }

    .events {
        max-width: 950px;
    }
    
    .arrow-block2:hover:before {
        display: none;
    }

    .slick-slide {
        margin-right: 153px;
    }

    .left-arrow {
        width: 12px;
        height: 12px;
    }

    .right-arrow {
        width: 12px;
        height: 12px;
    }
} 
                
            /* Tablet */

@media screen and (max-width: 991px) {
    .container {
        max-width: 990px;
    }

    .logotype {
        font-size: 20px;
    }

    .item {
        margin-right: 30px;
        font-size: 16px;
    }

    .offer {
        margin-top: 200px;
    }

    .title {
        font-size: 36px;
        line-height: 45px;
        width: 443px;
    }

    .title-indent {
        margin-bottom: 16px;
    }

    .paragraph {
        width: 366px;
        line-height: 22px;
        font-size: 16px;
    }

    .man {
        width: 280px;
        height: 460px;
    }

    .offer-link {
        font-size: 20px;
    }

    .dollar2 {
        top: 66%;
    }
    
    .dollar5 {
        display: none;
    }

    .cup6 {
        display: none;
    }

    .dollar7 {
        display: none;
    }

    .finger8 {
        display: none;
    }

    .cup4 {
        display: none;
    }

    .cup9 {
        display: none;
    }

    .dollar12 {
        display: none;
    }

    .dollar13 {
        display: none;
    }

    .cup14 {
        display: none;
    }

    .dollar15 {
        display: none;
    }

    .cup16 {
        display: none;
    }

    .dollar17 {
        display: none;
    }

    .finger18 {
        display: none;
    }

    .cup19 {
        display: none;
    }

    .about-title {
        width: 410px;
    }

    .pixel::before {
        left: 50%;
    }

    .first-group_events {
        flex-direction: column;
    }

    .events {
        max-width: 725px;
    }

    .point-blue {
        width: 540px;
        margin-bottom: 36px;
        margin-top: 36px;
    }

    .finances {
        width: 476px;
    }

    .point-purple {
        width: 360px;
        margin-left: 0;
        margin-bottom: 36px;
    }

    .experience {
        width: 296px;
    }

    .point-yellow {
        width: 440px;
        margin-right: 0;
        margin-left: 25px;
    }

    .investments {
        width: 376px;
    }

    .second-group_events {
        flex-direction: column;
    }

    .coin {
        left: 10%;
    }

    .speakers-title {
        width: 350px;
    }

    .pixel2::before {
        left: 50%;
    }

    .coin2 {
        left: 75%;
    }

    .speakers-list {
        flex-direction: column;
    }

    .first-speaker {
        width: 440px;
        margin-bottom: 36px;
    }

    .description {
        width: 440px;
    }

    .crown {
        margin-bottom: 36px;
    }

    .second-speaker {
        width: 440px;
        margin-bottom: 36px;
    }

    .crown2 {
        margin-bottom: 36px;
    }

    .third-speaker {
        width: 440px;
        margin-bottom: 36px;
    }

    .reviews-title {
        width: 340px;
    }

    .diamond {
        left: 10%;
    }

    .diamond2 {
        left: 80%;
    }

    .man-review {
        display: none;
    }

    .reviews-list {
        margin: 0 auto;
        margin-top: 136px;
    }

    .slick-slide {
        width: 440px;
    }

    .finger-details {
        left: 560px;
    }

    .registration-form {
        margin-top: 382px;
    }

    .cup11 {
        left: 10%;
        top: 5%;
    }

    .dollar17 {
        left: 70%;
        top: 5%;
    }

    .cup16 {
        left: 47%;
        top: 19%;
    }

    .finger18 {
        right: 10%;
        top: 18%;
    }

    .dollar13 {
        left: 67%;
        top: 25%;
    }

    .contacts-wrap {
        margin-top: 36px;
    }

    .contacts-text {
        padding: 36px 30px 38px 30px;
    }

    .gratitude {
        margin-left: 50px;
    }

    .answer-title {
        width: 350px;
    }

    .safe-answer {
        display: none;
    }

    .woman {
        left: 65%;
    }

    .first-answer {
        flex-direction: column;
    }

    .second-answer {
        flex-direction: column;
    }

    .third-answer {
        flex-direction: column;
    }

    .registration-title {
        width: 413px;
    }

    .title_pixel {
        width: 413px;
    }

    .footer-wrapper {
        padding: 64px 10px;
    }

    .slider-container {
        width: auto;
        padding: 0px 30px;
    }

    .slick-slide {
        width: 330px;
        margin-right: 67px;
    }

    .video-wrap {
        width: 330px;
        height: 239px;
    }

    .right-arrow {
        right: 1%;
        width: 12px;
        height: 12px;
    }

    .left-arrow {
        left: 1%;
        width: 12px;
        height: 12px;
    }

    .first-block-answer {
        width: 100%;
    }

    .second-block-answer {
        width: 100%;
    }

    .third-block-answer {
        width: 100%;
    }

    .text-module-answer {
        padding-left: 22%;
        text-align: center;
    }

    .main-question {
        width: 400px;
    }

    .main-answer {
        width: 400px;
    }

    .dollar20 {
        left: 10%;
        top: 263px;
    }

    .footer-wrapper {
        padding: 100px 10px 30px;
    }

    .footer-button-up {
        top: 0;
    }
}    

@media screen and (max-width: 767px) {
    .header {
        overflow: hidden;
    }

    .container {
        max-width: 760px;
        padding: 0 10px;
    }

    .offer {
        margin-top: 300px;
        width: 100%;
    }

    .offer-wrapper {
        width: 100%;
        text-align: center;
    }

    .title {
        margin: 0 auto;
        font-size: 28px;
        width: 345px;
    }

    .paragraph {
        font-size: 14px;
        width: 400px;
        margin: 0 auto;
    }

    .button-block {
        margin-left: 14%;
    }

    .button-next {
        margin-left: 53%;
        position: absolute;
        top: 95%;
        width: 20px;
    }

    .next-link:before {
        top: -16px;
        left: -31px;
    }

    .next-link:hover:before {
        transform: translateX(20px);
    }
    /* Гамбургер меню */

    .hamburger-menu {
         display: block;
    }
        
    /* скрываем чекбокс */

    #menu__toggle {
        opacity: 0;
    }
    /* стилизуем кнопку */

    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: absolute;
        top: 0;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 5;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .orange-circle:before {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: #F5C174;
        left: 10px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: absolute;
        visibility: hidden;
        top: -36px;
        right: -100%;
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 1; 
    }
    /* элементы меню */
    .menu__item {
        display: block;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        margin-top: 36px;
        margin-left: 300px;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: translateX(-20px);
        background: #fff;
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        background: #fff
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        background: #fff
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }
    .menu__box {
        transition-duration: .25s;
    }
    .menu__item {
        transition-duration: .25s;
    }

    .nav-link:hover {
        color: #fff;
    }

    .nav-head {
        display: none;
    }

    .image-block {
        display: none;
    }

    .cup1 {
        top: 12%;
        left: 43%;
    }

    .dollar2 {
        left: 54%;
    }

    .dollar3 {
        left: 1%;
        top: 38%;
    }

    .bg-image3 {
        left: 92%;
    }

    .more-text {
        display: none;
    }

    .events {
        padding-right: 20px;
    }

    .speakers-title {
        width: 265px;
    }

    .diamond {
        width: 56px;
        height: 56px;
    }

    .diamond2 {
        width: 56px;
        height: 56px;
    }
    
    .reviews-title {
        width: 280px;
    }

    .slider-container {
        padding: 0 30px;
    }

    .right-arrow {
        width: 12px;
        height: 12px;
        right: 1%;
    }

    .slick-slide {
        width: 300px;
        margin-right: 107px;
    }

    .video-wrap {
        width: 300px;
        height: 217px;
    }

    .left-arrow {
        width: 12px;
        height: 12px;
        left: 1%;
    }

    .details-wrapper {
        margin-left: 88px;
    }

    .registration {
        padding-top: 100px;
    }

    .cup11 {
        top: 1%;
    }

    .finger-details {
        width: 150px;
        height: 150px;
        left: 60%;
    }

    .registration-wrapper {
        padding: 70px 0;
    }

    .registration-title {
        margin-left: 155px;
    }

    .cartoon-man {
        width: 200px;
        height: 200px;
    }

    .registration-offer {
        padding: 0 20px;
    }

    .registration-form {
        width: 520px;
        margin-top: 182px;
    }

    .reg-btn {
        margin-top: 120px;
    }

    .price-form {
        left: 15%;
        bottom: 19%;
    }

    .contacts-wrap {
        flex-direction: column;
    }

    .contacts {
        left: 10px;
    }

    .gratitude {
        margin-top: 30px;
        margin-left: 10px;
    }

    .answer-title {
        width: 260px;
    }

    .woman {
        left: 57%;
        top: 185px;
    }

    .text-module-answer {
        padding-left: 16%;
    }

    .button-up-deleted {
        display: none;
    }

    .button-up:before {
        top: -20px;
    }

    .button-up:hover:before {
        transform: translateX(30px);
    }

    .footer-menu {
        flex-direction: column;
        margin-top: 44px;
    }

    .footer-item {
        margin-right: 0;
        margin-top: 44px;
    }

    .footer-button-up {
        left: 48%;
    }
}



    /* Mobile */

@media screen and (max-width: 575px) {

    .container {
        padding-bottom: 100px;
    }

    .button-next {
        top: 105%;
    }

    .offer {
        margin-top: 100px;
    }

    .menu__btn {
        top: 40px;
        right: 40px;
    }

    .bg-image3 {
        left: 90%;
    }

    .events {
        max-width: 495px;
    }

    .registration-title {
        margin-left: 149px;
        width: 378px;
    }

    .woman {
        left: 55%;
        top: 190px;
        width: 251px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    .menu__item {
        margin-left: 200px;
    }

    .bg-image1 {
        width: 60px;
        height: 60px;
        top: 15px;
        left: 8%;
    }

    .bg-image3 {
        width: 60px;
        height: 60px;
        left: 72%;
        top: 20px;
    }

    .bg-image2 {
        width: 90px;
        height: 90px;
    }
    .container {
        max-width: 345px;
        margin: 0 auto;
        overflow: hidden;
    }

    .menu__btn {
        right: 16%;
        z-index: 5;
        top: 40px;
    }

    .menu__btn {
        right: 7%;
    }

    .menu__item {
        margin-left: 100px;
    }

    .menu-hamburger {
        width: 66%;
        padding: 60px 0 59px;
        z-index: 1;
    }

    #menu__toggle:checked ~ .menu-hamburger {
        visibility: visible;
        right: 34.5%;
    }

    .item {
        margin-top: 50px;
        margin-left: 45%;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .offer {
        margin-top: 105px;
    }

    .offer-wrapper {
        width: 100%;
        text-align: left;
    }

    .title {
        width: 100%;
        font-size: 26px;
        line-height: 40px;
    }

    .paragraph {
        width: 100%;
        line-height: 26px;
        font-size: 16px;
    }

    .button-block {
        margin-left: 8%;
        margin-top: 44px;
    }

    .offer-link {
        font-size: 18px;
    }

    .offer-link:before {
        width: 44px;
        height: 44px;
        left: -20px;
        top: -11px;
    }

    .offer-link:hover:before {
        transform: translateX(130px);
        width: 44px;
        height: 44px;
    }

    .button-next {
        top: 91%;
    }

    .next-link:hover:before {
        transform: translateX(33px);
    }

    .head-wrapper {
        padding-bottom: 115px;
    }

    .about-wrapper {
        padding: 55px 15px;
    }

    .about-title {
        width: 100%;
        text-align: center;
    }
    
    .pixel::before {
        width: 6px;
        height: 6px;
        top: 110%;
    }

    .events {
        margin-top: 50px;
        padding: 0;
        width: 100%;
    }

    .point-purple {
        width: 100%;
    }

    .point-blue {
        width: 100%;
    }

    .point-yellow {
        width: 100%;
        margin: 0;
    }

    .investments {
        width: 100%;
    }

    .e-title {
        font-size: 20px;
    }

    .e-paragraph {
        font-size: 14px;
        line-height: 22px;
    }

    .finances {
        width: 100%;
    }

    .speakers-wrapper {
        padding: 0;
    }

    .coin {
        width: 60px;
        height: 60px;   
        top: 20%;
    }

    .coin2 {
        width: 60px;
        height: 60px;
        top: 20%;
    }

    .megaphone {
        width: 90px;
        height: 90px;
    }

    .speaker-background {
        height: 200px;
    }

    .speakers-title {
        width: 250px;
    }

    .pixel2::before {
        top: 110%;
        width: 6px;
        height: 6px;
    }

    .speakers-list {
        padding: 64px 15px;
    }

    .first-speaker {
        width: 100%;
    }

    .second-speaker {
        width: 100%;
    }

    .third-speaker {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .name {
        font-size: 20px;
    }

    .proffesion {
        font-size: 12px;
    }

    .crown {
        width: 60px;
        height: 60px;
    }

    .crown2 {
        width: 60px;
        height: 60px;
    }

    .reviews-wrapper {
        padding: 100px 15px;
    }

    .message {
        width: 90px;
        height: 90px;
    }

    .reviews-title {
        width: 100%;
        text-align: center;
    }

    .diamond {
        width: 40px;
        height: 40px;
        left: 18%;
        top: 2%;
    }

    .diamond2 {
        width: 40px;
        height: 40px;
        top: 2%;
        left: 73%;
    }

    .reviews-list {
        margin-top: 90px;
        width: 100%;
    }

    .first-review {
        width: 100%;
    }

    .review-paragraph {
        width: 100%;
        line-height: 22px;
    }

    .text-module-review {
        padding: 44px 24px 44px 44px;
    }

    .second-review {
        width: 100%;
    }

    .third-review {
        width: 100%;
    }

    .quotes2 {
        top: 267px;
    }

    .cup-details {
        right: 10%;
        width: 60px;
        height: 60px;
        top: -150px;
    }

    .details {
        background: inherit;
    }

    .details-wrapper {
        margin: 40px 0;
    }

    .details-title {
        font-size: 20px;
    }

    .registration {
        margin-top: 0;
    }

    .registration-title {
        width: 250px;
        margin-left: 140px;
    }

    .registration-form {
        width: 100%;
    }

    .form-title {
        font-size: 20px;
        line-height: 30px;
        width: 226px;
    }

    .input-item {
        width: 100%;
    }
    .contacts {
        width: 400px;
        left: 0;
    }

    .gratitude {
        width: 100%;
        margin-left: 0;
    }

    .cartoon-man {
        left: -70px;
    }

    .slick-slide {
        width: 425px;
    }

    .slider-container {
        padding: 0;
    }

    .img-slide {
        width:420px;
    }

    .video-wrap {
        width: 375px;
        height: 280px;
    }

    .finger-details {
        display: none;
    }

    .arrow-block1 {
        display: none;
    }

    .arrow-block2 {
        display: none;
    }

    .question-img {
        width: 90px;
        height: 90px;
    }

    .pixel2::before {
        display: none;
    }

    .woman {
        left: 1%;
        width: 200px;
        top: 225px;
    }

    .text-module-answer {
        padding-left: 4%;
    }

    .registration-title {
        width: 240px;
        margin-left: 120px;
    }

    .cartoon-man {
        left: -80px;
    }

    .contacts {
        width: 375px;
    }

    .main-question {
        width: 100%;
    }

    .main-answer {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .menu__btn {
        right: 7%;
    }

    .experience {
        width: 100%;
    }

    .quotes2 {
        top: 333px;
    }

    .title_pixel::before {
        display: none;
    }

    .cartoon-man {
        width: 160px;
        height: 160px;
    }

    .registration-title {
        width: 244px;
        margin-left: 72px;
    }

    .cartoon-man {
        left: -64px;
        top: -43px;
        width: 160px;
        height: 160px;
    }

    .contacts {
        width: 100%;
    }

    .cont-title {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }

    .main-question {
        width: 100%;
    }

    .main-answer {
        width: 100%;
    }

    .video-wrap {
        width: 68%;
    }

    .gratitude {
        width: 100%;
        text-align: center;
    }

    .gratitude-paragraph {
        font-size: 12px;
        line-height: 20px;
    }

    .question-img {
        width: 60px;
        height: 60px;
    }

    .answer-title {
        width: 100%;
        text-align: center;
        height: 160px;
    }

    .main-question {
        font-size: 20px;
    }

    .woman {
        top: 122px;
    }

    .video-wrap {
        height: 230px;
    }

    .img-slide {
        width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 15px;
    }

    #menu__toggle:checked ~ .menu-hamburger {
        visibility: visible;
        right: -0.5%;
    }

    .menu-hamburger {
        width: 101%;
    }
    .title {
        font-size: 22px;
    }

   .experience {
       width: 100%;
   }

   .description {
       font-size: 14px;
   }

   .speakers-title {
       width: 72%;
   }

   .quotes2 {
       top: 333px;
   }

   .details-title {
       font-size: 18px;
   }

   .video-wrap {
       width: 320px;
       height: 230px;
   }

   .slick-slide {
       width: 320px;
   }

   .contacts {
       width: 320px;
   }

   .gratitude {
       width: 100%;
   }

   .img-slide {
       width: 320px;
   }

   .registration-title {
       width: 210px;
       margin-left: 104px;
   }

   .title_pixel:before {
       display: none;
   }

   .cont-title {
       width: 280px;
       font-size: 20px;
       line-height: 30px;
   }
}